<section data-watch="navigator" data-watch-threshold="0.3" class="about">
    <div class="about__container">
        <h3 class="about__title">
            Про авторку
        </h3>
    
        <div class="about__content content-about">
    
            <div class="content-about__main main-about">
                <div class="main-about__img">
                    <img src="img/about/main.png" alt="Image">
                </div>
                <div class="main-about__text">
                    <p class="main-about__text-name">Вероніка Бельмега</p>
                    <p class="main-about__text-job">Нутриціологиня</p>
                </div>
            </div>
    
            <div class="content-about__event">
                <div class="content-about__event-img">
                    <img src="img/about/event.jpg" alt="Image">
                </div>
            </div>
    
            <div class="content-about__skills">
                <div class="content-about__skills-img">
                    <img src="img/about/skills.jpg" alt="Image">
                </div>
                <ul class="content-about__skills-list">
                    <li>
                        <p>4,5 років практикуючий нутриціолог</p>
                    </li>
                    <li>
                        <p>5,5 років тренер тренажерної зали</p>
                    </li>
                    <li>
                        <p>12 років веду здоровий спосіб життя</p>
                    </li>
                    <li>
                        <p>За останні роки більше 500 успішних кейсів</p>
                    </li>
                    <li>
                        <p>Спікер на конференціях та курсах.</p>
                    </li>
                </ul>
            </div>
    
        </div>
    
        <div class="about__certificate">
            <div class="about__slider swiper">
                <div class="about__certificate-wrapper swiper-wrapper">
                    <div class="about__slide slide-about swiper-slide">
                        <div class="slide-about__img">
                            <img src="img/about/cert-1.jpg" alt="Image">
                        </div>
                    </div>
                    <div class="about__slide slide-about swiper-slide">
                        <div class="slide-about__img">
                            <img src="img/about/cert-2.jpg" alt="Image">
                        </div>
                    </div>
                    <div class="about__slide slide-about swiper-slide">
                        <div class="slide-about__img">
                            <img src="img/about/cert-3.jpg" alt="Image">
                        </div>
                    </div>
                    <div class="about__slide slide-about swiper-slide">
                        <div class="slide-about__img">
                            <img src="img/about/cert-4.jpg" alt="Image">
                        </div>
                    </div>
                    <div class="about__slide slide-about swiper-slide">
                        <div class="slide-about__img">
                            <img src="img/about/cert-5.jpg" alt="Image">
                        </div>
                    </div>
                    <div class="about__slide slide-about swiper-slide">
                        <div class="slide-about__img">
                            <img src="img/about/cert-6.jpg" alt="Image">
                        </div>
                    </div>
                </div>
    
            </div>
            <button class="about__arrow about__arrow--left" type="button"></button>
            <button class="about__arrow about__arrow--right" type="button"></button>
    
    
            <!-- <div class="swiper-pagination"></div>  -->
        </div>
    
    
    </div>
</section>