<section class="benefit">
    <div class="benefit__container">

            <h2 class="benefit__header">Інтенсив для тебе, якщо:</h2>

            <div class="benefit__items">
                <article class="benefit__item item-benefit">
                    <div class="item-benefit__image">
                        <img src="img/benefit/img-card-1.jpg" alt="Image">
                    </div>
                    <div class="item-benefit__text">
                        <p>Проблеми з травленням;</p>
                        <p>Здуття, метеоризм, нудота, закрепи;</p>
                        <p>Відчуття неповного спорожнення.</p>
                    </div>
                </article>
                <article class="benefit__item item-benefit">
                    <div class="item-benefit__image">
                        <img src="img/benefit/img-card-2.jpg" alt="Image">
                    </div>
                    <div class="item-benefit__text">
                        <h4>Маєш хронічні діагнози:</h4>
                        <p>Гастрит, дискінезія, холецистит, застій жовчі, дисбактеріоз;</p>
                        <p>Паразити, СРК, СНБР, СНГР.</p>
 
                    </div>
                </article>
                <article class="benefit__item item-benefit">
                    <div class="item-benefit__image">
                        <img src="img/benefit/img-card-3.jpg" alt="Image">
                    </div>
                    <div class="item-benefit__text">
                        <p>Не допомагають стандартні методи;</p>
                        <p>Дієти та ліки дають лише тимчасовий ефект;</p>
                        <p>Дискомфорт залишається, попри консультації лікарів.</p>
                    </div>
                </article>
                <article class="benefit__item item-benefit">
                    <div class="item-benefit__image">
                        <img src="img/benefit/img-card-4.jpg" alt="Image">
                    </div>
                    <div class="item-benefit__text">
                        <p>Інші симптоми;</p>
                        <p>Проблемна шкіра, випираючий живіт;</p>
                        <p>Хронічні захворювання (цистит, молочниця, тонзиліт).</p>
                    </div>
                </article>
            </div>


            <button class="button benefit__button">ПОЗБУТИСЯ ПРОБЛЕМ З ТРАВЛЕННЯМ</button>

    </div>
</section>