<section class="bonus">
    <div class="bonus__container">
        <div class="bonus__body">
            <div class="bonus__img-bloc block-img">
                <img src="img/bonus/bonus-img.png" alt="Background Image" class="block-img__shadow">
                <img src="img/bonus/bonus-img.png" alt="Front Image" class=" block-img__front">
            </div>
            
            <div class="bonus__title">
                <h3>Бонус</h3>
            </div>
            <div class="bonus__content content-bonus">

                <div class="content-bonus__method">
                    <p class="content-bonus__method-title">
                            <span>Методичка по харчуванню,</span>
                            у якій ти знайдеш:
                    </p>
                    <ul class="content-bonus__method-items">
                        <li class="content-bonus__method-item">
                            <p>- акценти у харчування</p>
                        </li>
                        <li class="content-bonus__method-item">
                            <p>- список продуктів, що мають бути в раціоні щодня</p>
                        </li>
                        <li class="content-bonus__method-item">
                            <p>- принципи здорового та збалансованого раціону</p>
                        </li>
                        <li class="content-bonus__method-item">
                            <p>- структура раціону</p>
                        </li>
                        <li class="content-bonus__method-item">
                            <p>- лайфхаки</p>
                        </li>
                        <li class="content-bonus__method-item">
                            <p>- ідеї сніданків, обідів та вечерь</p>
                        </li>
                        <li class="content-bonus__method-item">
                            <p>- альтернативи шкідливим продуктам.</p>
                        </li>
                    </ul>
                </div>

                <div class="content-bonus__diary">
                    <p class="content-bonus__diary-title">
                        <span>Щоденник харчування,</span>
                        що допоможе відстежувати свої харчові звички та зміни в організмі.
                    </p>
                </div>

                <div class="content-bonus__base">
                    <p class="content-bonus__base-text">
                        Базовий список аналізів 
                    </p>
                </div>

            </div>
        </div>
        <a href="" class="bonus__button button">ОТРИМАТИ ПОДАРУНОК</a>


    </div>
</section>