<section class="citation">
    <div class="citation__container">
        <div class="citation__img">
            <img src="img/citation/citation.jpg" alt="Image">
        </div>
        <div class="citation__text">
            <b>Я впевнена</b>
            на всі 100% 
            <b> у ефективності тих знань</b>
            які я даю,
            <b>але якщо ти не бачиш результатів</b>
            або тобі не сподобалося навчання, 
            <b>я без питань поверну тобі гроші</b>
        </div>
    </div>
</section>