<section class="counter">
    <div class="counter__container">

            <div class="countdown">
                <div class="countdown__item">
                    <span id="hours">00</span>
                    <p>ГОДИНИ</p>
                </div>
                <span class="countdown__separator">:</span>
                <div class="countdown__item">
                    <span id="minutes">00</span>
                    <p>ХВИЛИНИ</p>
                </div>
                <span class="countdown__separator">:</span>
                <div class="countdown__item">
                    <span id="seconds">00</span>
                    <p>СЕКУНДИ</p>
                </div>

    </div>
</section>