<section class="counter">
    <div class="counter__container">
        <div class="counter__wrapper">
            <div class="counter__block">
                <div class="counter__title">
                    <h2>Вартість сьогодні зі знижкою 88%</h2>
                    <p><span> 4000 грн</span> 449 грн</p>
                </div>

                <div class="counter__countdown countdown-counter">
                    <div class="countdown-counter__item">
                        <p>ГОДИНИ</p>
                        <span id="hours">00</span>
                    </div>
                    <span class="countdown-counter__separator">:</span>
                    <div class="countdown-counter__item">
                        <p>ХВИЛИНИ</p>
                        <span id="minutes">00</span>
                    </div>
                    <span class="countdown-counter__separator">:</span>
                    <div class="countdown-counter__item">
                        <p>СЕКУНДИ</p>
                        <span id="seconds">00</span>
                    </div>
                </div>
                
                <a href="https://www.nikab-nutrition.com/?fbclid=PAZXh0bgNhZW0CMTEAAaYIyj-RWAAUHVf89gouWwXaoAc4gF1AAyfBHMLVqasQZMSrQr0dNQZIQrc_aem_JDZBonqcq8ChqzzX66BUOA#program"
                    target="_blank" class="counter__button button">ОТРИМАТИ ДОСТУП ЗІ ЗНИЖКОЮ 88%</a>
                </div>
                </div>
    </div>
</section>