<section class="faq">
    <div class="faq__container">
        <div class="faq__body">
            <div class="faq__title">
                <h3>Питання-відповідь</h3>
            </div>
    
            <div data-spollers data-one-spoller class="faq__spollers spollers__faq">
    
                <details data-open class="spollers-faq__item">
                    <summary class="spollers-faq__title"> 
                        Чому цей інтенсив допоможе мені, якщо інші методи не спрацювали?
                    </summary>
                    <div class="spollers-faq__body">
                        Більшість підходів зосереджуються на симптомах, а не причинах. У цьому інтенсиві ви дізнаєтеся про першопричини проблем з травленням і отримаєте покроковий план їх усунення.
                    </div>
                </details>

            </div>
            <div data-spollers data-one-spoller class="faq__spollers spollers__faq">
    
                <details  class="spollers-faq__item">
                    <summary class="spollers-faq__title"> 
                        У мене вже був досвід, коли курси не допомагали. Як бути впевненим у цьому?
                    </summary>
                    <div class="spollers-faq__body">
                        Ми пропонуємо гарантію повернення коштів. Якщо протягом 7 днів ви зрозумієте, що інтенсив не приніс результату, ми повернемо гроші.
                    </div>
                </details>

            </div>
            <div data-spollers data-one-spoller class="faq__spollers spollers__faq">
    
                <details  class="spollers-faq__item">
                    <summary class="spollers-faq__title"> 
                        Хіба можливо за 7 днів щось змінити?
                    </summary>
                    <div class="spollers-faq__body">
                        За 7 днів інтенсиву ви розберетеся із причинами проблем з травленням, харчуванням для покращення стану травної системи. Зрозумієте, в якому напрямку рухатися і що взагалі робити. Хоча є і такі кейси, де люди бачили перші результати протягом першого дня!
                    </div>
                </details>

            </div>
            <div data-spollers data-one-spoller class="faq__spollers spollers__faq">
    
                <details  class="spollers-faq__item">
                    <summary class="spollers-faq__title"> 
                        Я боюся, що не встигатиму проходити уроки.
                    </summary>
                    <div class="spollers-faq__body">
                        Уроки надходитимуть у зручному форматі через чат-бот. Ви зможете проходити їх у своєму темпі, оскільки доступ до матеріалів безстроковий.
                    </div>
                </details>

            </div>
            <div data-spollers data-one-spoller class="faq__spollers spollers__faq">
    
                <details  class="spollers-faq__item">
                    <summary class="spollers-faq__title"> 
                        У мене немає діагнозів, лише незначний дискомфорт. Чи потрібен мені цей курс?
                    </summary>
                    <div class="spollers-faq__body">
                        Навіть якщо проблема здається несуттєвою, її ігнорування може призвести до серйозних ускладнень. Інтенсив допоможе зрозуміти, як підтримувати здоров’я травної системи, щоб уникнути проблем у майбутньому.
                    </div>
                </details>
            </div>
            <div data-spollers data-one-spoller class="faq__spollers spollers__faq">
    
                <details  class="spollers-faq__item">
                    <summary class="spollers-faq__title"> 
                        У мене був досвід, коли лише медикаменти допомагали. Чи обійдеться без ліків?
                    </summary>
                    <div class="spollers-faq__body">
                        Так, інтенсив базується на природних методах відновлення травлення через правильне харчування та усунення помилок у звичках.
                    </div>
                </details>

            </div>
            <div data-spollers data-one-spoller class="faq__spollers spollers__faq">
    
                <details  class="spollers-faq__item">
                    <summary class="spollers-faq__title"> 
                        Я не хочу змінювати своє харчування. Чи є сенс проходити курс?
                    </summary>
                    <div class="spollers-faq__body">
                        Харчування – основа здоров’я травлення. Але ви отримаєте реальні рекомендації, які легко інтегрувати у ваш спосіб життя без радикальних змін.
                    </div>
                </details>

            </div>
            <div data-spollers data-one-spoller class="faq__spollers spollers__faq">
    
                <details  class="spollers-faq__item">
                    <summary class="spollers-faq__title"> 
                        Чи потрібно купувати додаткові матеріали, обладнання чи здавати аналізи?
                    </summary>
                    <div class="spollers-faq__body">
                        Ні, все, що вам потрібно, — це бажання покращити своє самопочуття та дотримуватись рекомендацій курсу.
                    </div>
                </details>

            </div>

            <div data-spollers data-one-spoller class="faq__spollers spollers__faq">
    
                <details  class="spollers-faq__item">
                    <summary class="spollers-faq__title"> 
                        Ти не лікар?
                    </summary>
                    <div class="spollers-faq__body">
                        Так, я нутриціолог і експерт з модифікації способу життя, а не лікар. Але моя спеціалізація – це відновлення здоров’я через корекцію харчування та способу життя. Я маю 4,5 роки практики, понад 500 успішних кейсів і більше 11 000 євро вкладених у навчання, щоб дати вам знання та ефективні рішення, які працюють. Мої результати та моїх клієнтів ви бачили вище.
                    </div>
                </details>

            </div>
        </div>

    </div>
</section>