<footer class="footer">
    <div class="footer__container">
        <div class="footer__body">
            <div class="footer__contacts">
                <p class="footer__contacts-text">Контакти:</p>
                <a class="footer__contacts-tel" href="tel:+380502551467"><span>+38 050 255 14 67</span></a>
                <a class="footer__contacts-mail" href="mailto:nikabfit12@gmail.com"><span>nikabfit12@gmail.com</span></a>
                <div class="footer__contacts-social social-contacts">
                    <a class="social-contacts__instagram" href="https://www.instagram.com/nikab_nutrition?igsh=OHJxeTA2OTh6YXRt"
                        target="_blank">
                        <img src="/icons/telegram.svg" alt="Image">
                    </a>
                    <a class="social-contacts__telegram"
                        href="https://t.me/+-q4pShKk2nllYjUy?fbclid=PAZXh0bgNhZW0CMTEAAaYfvYq3x5vgeGl62yHp3NW-NrJFMlWtndyq9lRsBUj2GBw-ZOF-GRgxRBs_aem_E8LFltUQ-jKZCGs1vO_ITQ"
                        target="_blank">
                        <img src="/icons/instagram.svg" alt="Image">
                    </a>
                </div>
            </div>
        
            <div class="footer__details">
                <p>ФОП Бельмега Вероніка</p>
                <p>РНОКПП/ЄДРПОУ 3595508969</p>
                <p>UA723052990000026007035015088</p>
            </div>
        
            <div class="footer__politic">
                
                <a href="https://docs.google.com/file/d/1b8DgKSh8I9eKH6Wg9EbezIFKY6JXnJIH/edit?filetype=msword">Політика
                    конфіденційності</a>
                <a href="https://docs.google.com/file/d/1b8DgKSh8I9eKH6Wg9EbezIFKY6JXnJIH/edit?filetype=msword">Договір
                    оферти</a>
            </div>
        </div>
        
        <div class="footer__designed">
            <div class="footer__copyright">
                <p>
                    &copy; 2025 <a href="https://www.instagram.com/a.vilkhovaya?igsh=aTNzbnVmZW55Mnl3" target="_blank">Design by Anna
                        Vilkhova</a>
                </p>
            </div>
        </div>

    </div>
</footer>