<footer class="footer">
    <div class="footer__container">
        <div class="footer__body">
            <div class="footer__contacts">
                <p class="footer__contacts-text">Контакти:</p>
                <a class="footer__contacts-tel" href="">+38050 255 14 67</a>
                <a class="footer__contacts-mail" href="">nikabfit12@gmail.com</a>
                <div class="footer__contacts-social social-contacts">
                    <a class="social-contacts__instagram" href="">
                        <img src="../public/icons/telegram.svg" alt="Image">
                    </a>
                    <a class="social-contacts__telegram" href="">
                        <img src="../public/icons/instagram.svg" alt="Image">
                    </a>
                </div>
            </div>
        
            <div class="footer__details">
                <p>ФОП Бельмега Вероніка</p>
                <p>РНОКПП/ЄДРПОУ 3595508969</p>
                <p>UA723052990000026007035015088</p>
            </div>
        
            <div class="footer__politic">
                <a href="https://docs.google.com/file/d/1b8DgKSh8I9eKH6Wg9EbezIFKY6JXnJIH/edit?filetype=msword">Політика
                    конфіденційності</a>
                <a href="https://docs.google.com/file/d/1b8DgKSh8I9eKH6Wg9EbezIFKY6JXnJIH/edit?filetype=msword">Договір
                    оферти</a>
            </div>
        </div>
        
        <div class="footer__designed">
            <div class="footer__copyright">
                <p>
                    &copy; 2025 <a href="https://yourwebsite.com" target="_blank">Design by Anna Vilkhova</a>
                </p>
            </div>
        </div>

    </div>
</footer>