<body>
    <section class="hero">
        <div class="hero__container">
            <div class="body-hero__image">
                <img src="img/hero/hero-photo.png" alt="Image">
            </div>
            <div class="body-hero__content">
                <p class="header-hero__text">7 - денний інтенсив</p>
                <h1 class="header-hero__title">«Здорове травлення без здуття»</h1>
                <p class="header-hero__date">Старт 17 лютого</p>
                <p class="body-hero__info">Нормалізуй роботу травної системи, очисти шкіру та покращуй самопочуття. Навіть якщо
                    раніше не виходило та інші спеціалісти не допомогли.</p>
                <button class="button body-hero__button">ПРИДБАТИ ІНТЕНСИВ</button>
            </div>

        </div>
        </section>
</body>