
    <section class="hero">
        <div class="hero__container">
            <div class="hero-body body-hero">

                <div class="body-hero__image">
                    <img src="img/hero/hero-photo.png" alt="Image">
                </div>
<div class="body-hero__header header-hero">
    <p class="header-hero__pretitle">7 - денний інтенсив </p>
                <h1 class="header-hero__title">«Здорове травлення без здуття»</h1>
                <p class="header-hero__date">Старт 17 лютого</p>
            </div>
            
            <div class="body-hero__content">
                <p class="body-hero__content-text">
                    Нормалізуй роботу травної системи, очисти шкіру та покращ самопочуття.
                    Навіть якщо раніше не виходило та інші спеціалісти не допомогли.
                </p>
                <a href="" class="button body-hero__content-btn">ПРИДБАТИ ІНТЕНСИВ</a>
            </div>
            </div>

        </div>
        </section>
