<section class="instructions">
    <div class="instructions__container">
        <h2 class="instructions__title">
            Як буде проходити навчання:
        </h2>
        <div class="instructions__items">
            <div class="instructions__item">
                <p>Після оплати ти отримаєш посилання на чат-бот, де і буде проходите навчання.</p>
            </div>
            <div class="instructions__item">
                <p>Щодня ти отримуватимеш від мене уроки.</p>
            </div>
            <div class="instructions__item">
                <p>Доступ до інтенсиву безстроковий.</p>
            </div>
        </div>
    </div>
</section>