<section class="profit">
    <div class="profit__container">
        <div class="profit__wrapper">
            <div class="profit__title">   
                <h2 >Що ти отримуєш:</h2>
            </div>
            <div class="profit__content">
                <ul class="profit__list">
                    <li>7 днів лекцій</li>
                    <li>Домашні завдання</li>
                    <li>Інструкцію, як позбутися проблем з травленням</li>
                </ul>
                <div class="profit__bonus">
                    <p>Бонус: “Методичка по харчуванню”, 
                        “Щоденник харчування” та базовий список аналізів.
                    </p>
                </div>
            </div>
  
            <div class="profit__image">
                <img src="img/profit/macbook.png" alt="Image">
            </div>
        </div>
    </div>
</section>