<section class="program">
    <div class="program__container">
        <div class="program__header">
            <h2 class="program__header-title">Програма інтенсиву:</h2>
            <p class="program__header-text"><span>7 уроків + подарунок </span>(“Методичка по харчуванню”, 
                “Щоденник харчування” та базовий список аналізів)</p>
        </div>

        <div data-spollers data-one-spoller class="program__spollers spollers-program">

            <details data-open class="spollers-program__item">
                <summary class="spollers-program__header"> 
                    <p class="spollers-program__title">Урок 1</p>
                    <p class="spollers-program__question">Як ставити ціль, щоб вона мотивувала і що потрібно для того, аби не спинитися на половині шляху.</p>
                </summary>
                <div class="spollers-program__body">
                    <ul>
                        <li>• ставимо цілі за методикою SMART;</li>
                        <li>• поговоримо про перешкоди на шляху до легкості та плаского живота, і як з ними впоратися;</li>
                        <li>• практики на додаткову мотивацію та полегшення шляху, щоб позбутися здуття,
                        метеоризму та важкості;</li>
                    </ul>
                </div>
            </details>
            <details  class="spollers-program__item">
                <summary class="spollers-program__header"> 
                    <p class="spollers-program__title">Урок 2</p>
                    <p class="spollers-program__question">Як працює травна система та на що вона впливає?</p>
                </summary>
                <div class="spollers-program__body">
                    <ul>
                        <li>• Дізнаєтеся з чого починається травлення (спойлер: не зі шлунку);</li>
                        <li>• Про 1 звичку, яка покращить ваше травлення вже тут і зараз</li>
                        <li>• Як зробити прийом їжі ритуалом. Що це за ритуал та навіщо він потрібен?</li>
                        <li>• Ознаки проблем зі шлунком.</li>
                        <li>• Що впливає на його роботу.</li>
                        <li>• Продукти для здоров’я шлунку.</li>
                    </ul>
                </div>
            </details>
            <details  class="spollers-program__item">
                <summary class="spollers-program__header"> 
                    <p class="spollers-program__title">Урок 3</p>
                    <p class="spollers-program__question">Про детоксикацію печінки і роботу жовчного.</p>
                </summary>
                <div class="spollers-program__body">
                    <ul>
                        <li>• Дізнаєтеся про ознаки проблем з жовчним та печінкою</li>
                        <li>• Як покращити їх роботу</li>
                        <li>• Що таке токсичне навантаження, яке зараз є у всіх?</li>
                    </ul>
                </div>
            </details>
            <details  class="spollers-program__item">
                <summary class="spollers-program__header"> 
                    <p class="spollers-program__title">Урок 4</p>
                    <p class="spollers-program__question">Чому кишківник - другий мозок?</p>
                </summary>
                <div class="spollers-program__body">
                    <ul>
                        <li>• Дізнаєтеся, що лежить в основі багатьох хвороб.</li>
                        <li>• Продукти для здоров’я кишківника.</li>
                    </ul>
                </div>
            </details>
            <details  class="spollers-program__item">
                <summary class="spollers-program__header"> 
                    <p class="spollers-program__title">Урок 5</p>
                    <p class="spollers-program__question">Мікрофлора кишківника. На що вона впливає і як її нормалізувати</p>
                </summary>
                <div class="spollers-program__body">
                    <ul>
                        <li>• Дізнаєтеся про види мікрофлори кишківника, ознаки проблем, причини та план дій для нормалізації мікрофлори кишківника.</li>
                        <li>• Як можна позбутися непереносимості молочних продуктів, сирих овочів, бобових чи фруктів.</li>
                    </ul>
                </div>
            </details>
            <details  class="spollers-program__item">
                <summary class="spollers-program__header"> 
                    <p class="spollers-program__title">Урок 6</p>
                    <p class="spollers-program__question">Причини проблем з травленням.</p>
                </summary>
                <div class="spollers-program__body">
                    <ul>
                        <li>• Дізнаєтеся про види мікрофлори кишківника, ознаки проблем, причини та план дій для нормалізації мікрофлори кишківника.</li>
                        <li>• Як можна позбутися непереносимості молочних продуктів, сирих овочів, бобових чи фруктів.</li>
                    </ul>
                </div>
            </details>
            <details  class="spollers-program__item">
                <summary class="spollers-program__header"> 
                    <p class="spollers-program__title">Урок 7</p>
                    <p class="spollers-program__question">Покроковий план, завдяки якому позбудешся здуття,
                        важкості, метеоризму, закреп раз і назавжди!</p>
                </summary>
                <div class="spollers-program__body">
                    <ul>
                        <li>• Про неефективні методи усунення здуття та проблем з травленням.</li>
                        <li>• Що потрібно, щоб мати результат?</li>
                        <li>• Отримаєте чіткий план дій.</li>
                    </ul>
                </div>
            </details>
        </div>
    </div>
</section>