//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
    display: inline-flex;
    padding: toRem(8);
    min-height: toRem(64);
    align-items: center;
    justify-content: center;
    border-radius: toRem(60);
    background: linear-gradient(0deg, rgba(255, 193, 58, 1) 0%, rgba(229, 66, 27, 1) 66%, rgba(251, 126, 96, 1) 100%);
        color: white;
    font-size: toRem(24);
    font-weight: 700;
    line-height: 1.33;
    transition: background-color 0.3s ease;

    @media (any-hover: hover) {
        &:hover {
            background: linear-gradient(90.00deg, rgba(255, 193, 58, 0.5) 17%, rgba(229, 66, 27, 0.5) 51.5%, rgba(251, 126, 96, 0.5) 95.5%);
        }
    }

    &--min {}

    &--white {}



 &--fw {
     width: 100%;
    }
}